@import "fonts";
@import "template";

.header {
	position: fixed;
	top: 0;
	left: 1vw;
	color: #333;
	font-size: 4vh;
	margin-left: 10vw;
	text-shadow: 1px 1px 5px #EEE;
}

.box {
	height: 10vh;
	background-color: #d7dbe0;
}

.box--c1 {
	background-color: #ab9eb4;
}

.box--c2 {
	background-color: #4b5972;
}

.box--c3 {
	background-color: #e53844;
}

.box--c4 {
	background-color: #ee6666;
}

.box--c5 {
	background-color: #f59150;
}

.box,
.box.leaving {
	opacity: 0.2;
	transform: translate3d(-100px, 0, 0) scale3d(1.1, 1.1, 1);
	transition: all 0.7s ease-in-out;
	-webkit-transform: translate3d(-100px, 0, 0) scale3d(1.1, 1.1, 1);
	-webkit-transition: all 0.7s ease-in-out;
}

.box.leaving:after {
	content: "leaving";
}

.box.entering {
	opacity: 0.8;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	transition: all 0.7s ease-in-out;
	-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-webkit-transition: all 0.7s ease-in-out;
}

.box.entered {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-webkit-transition: all 0.7s ease-in-out;
}

.box:after {
	float: right;
	font-size: 3vh;
	margin-right: 2vw;
	margin-top: 1em;
	text-shadow: 0 0 5px white;
}

.box.entering:after {
	content: "entering";
}

.box.entered:after {
	content: "entered";
}

.box.leaving:after {
	content: "leaving";
}

.box.leaved:after {
	content: "leaved";
}

.box--selected {
	border: 2px solid red;
}

.github {
	position: fixed;
	top: 0;
	right: 0;
}
